---
const appHeader = "Hello World.";
---

<div
  class="flex h-16 bg-gradient-to-tr bg-black text-white w-full justify-center px-6 xs:px-12 drop-shadow-md"
>
  <div class="flex w-full max-w-5xl justify-between">
    <div class="flex items-center gap-4">
      <div><a href="/">LOGO</a></div>
      <div class="">
        <div class="text-lg font-bold sm:text-xl md:text-2xl">
          {appHeader}
        </div>
      </div>
    </div>
  </div>
</div>
